*, html, body, div, table, p, a{
	font-family:'Foco W01 Regular', 'Myriad Pro', 'Myriad', sans-serif;
}

#logo{
	position:static;
	margin:14px 0 15px;
	float:left;
}

#table-toolbar{
	margin-top:90px;
	margin-bottom:20px;
}

#table-toolbar #add-btn a{
	color:#00ac9b;
	text-transform:uppercase;
	font-weight:bold;
	background:url('../img/plus-sign.gif') 35px 1px no-repeat;
	padding-left:48px;
}

#table-toolbar p#powered-by{
	font-family:'Foco W01 Bold', 'Myriad Pro', 'Myriad', sans-serif;
	text-transform:uppercase;
	font-weight:bold;
	color:#000000;
	text-align:right;
	margin-bottom:0; padding-bottom:0;
}

#table-toolbar a#change-btn{
	font-family:'Foco W01 Bold', 'Myriad Pro', 'Myriad', sans-serif;
	color:#00ac9b;
	font-weight:bold;
	background:url('../img/triangle-arrow.gif') 50px 4px no-repeat;
	padding-right: 10px;
	margin-left:10px;
}

.profile-table thead tr th,.sleep-table thead tr th{
	font-family:'Foco W01 Bold', 'Myriad Pro', 'Myriad', sans-serif;
	text-transform:uppercase;
	background-color:#000000;
	color:#FFFFFF;
	font-size:13px;
	padding-top:2px;
	padding-bottom:0px;
}

.profile-table tr>:first-child {
	padding-left:35px;
}

.profile-table tr.active > td, .sleep-table tr.active > td{
	font-weight:bold;
	color:#333333;
}

.profile-table td{
	border-top:none;
	font-size:16px;
	padding-top:20px;
	padding-bottom:20px;
}

.app-icon{
	width:39px;
	height:38px;
	margin-right:10px;
	display: inline-block;
}

#runkeeper-ico{
	background:url("../img/nutrition-apps-icons.png") 40px 0;
}

#fitbit-ico{
	background:url("../img/nutrition-apps-icons.png") 0 0;
}

#mapmyfitness-ico{
	background:url("../img/nutrition-apps-icons.png") 80px 0;
}

/*Nutrition*/

#date-row, #meal-count{
	font-family:'Foco W01 Bold', 'Myriad Pro', 'Myriad', sans-serif;
	color:#000000;
	font-weight:bold;	
	font-size:18px;
}

#date-row{
	background:url("../img/calendar.png") 0 0 no-repeat ;
	padding-left:30px;
}

#nutrition-info-row{
	background-color:#a7e3dd;
	padding:20px 0;
}

.hidden{
	position:absolute;
	left:-70000px;
}

td.chk-box, th.chk-box{
	text-align:center;
}

/*Primary Nav Styles*/
ul.primaryNavLinks{
	position: static;
	height:60px;
	display:inline-block;
	margin:0;
	float:right;
}

ul.primaryNavLinks li{
	height:60px;
	display:inline-block;
}

ul.primaryNavLinks li.active{
	background:url('../img/primary-active-marker.png') center bottom no-repeat;
}

.primaryNavLinks li a{
	height:20px;
	display: inline-block;
	padding:5px 0 5px 35px;
	background:url('../img/icons-primary.png');
	background-repeat: no-repeat;
	margin:15px 0 15px;	
}

.primaryNavLinks li a.nav-data {
	background-position: 0px 0px;
}

.primaryNavLinks li a.nav-goals {
	background-position: 0px -30px;
}

.primaryNavLinks li a.nav-apps {
	background-position: 0px -60px;
}

.primaryNavLinks li a:hover, .primaryNavLinks li a:focus, .primaryNavLinks .active a{
	color:#00AC9B;
}

.primaryNavLinks .active .nav-data, .primaryNavLinks li a.nav-data:focus, 
.primaryNavLinks li a.nav-data:hover{
	background-position: 0px -90px;
}

.primaryNavLinks .active .nav-goals, .primaryNavLinks li a.nav-goals:focus, 
.primaryNavLinks li a.nav-goals:hover{
	background-position: 0 -120px;
}

.primaryNavLinks .active .nav-apps, .primaryNavLinks li a.nav-apps:focus, 
.primaryNavLinks li a.nav-apps:hover{
	background-position: 0 -150px;
}

/*Secondary Nav Styles*/
ul.secondaryNavLinks{
	margin-top:0;
	margin-bottom:0;
	height:54px;
}

.secondaryNavLinks li{
	display: inline-block;
	height:54px;
}
.secondaryNavLinks li.active{
	background:url('../img/secondary-active-marker.png') no-repeat center bottom;
}

.secondaryNavLinks li a.nav-secondary{
	height:20px;
	display: inline-block;
	background:url('../img/icons-secondary.png');
	background-repeat:no-repeat;
	padding:5px 0 5px 40px;
	margin:12px 0;
}

.secondaryNavLinks li a.nav-fitness{
	background-position: 0px 0px;
}

.secondaryNavLinks li a.nav-nutrition{
	background-position: 0px -30px;
}

.secondaryNavLinks li a.nav-health{
	background-position: 0px -60px;
}

.secondaryNavLinks li a.nav-sleep{
	background-position: 0px -90px;
}

.secondaryNavLinks li a.nav-insurance{
	background-position: 0px -120px;
}


.secondaryNavLinks li.active a.nav-secondary, .secondaryNavLinks li a:hover, .secondaryNavLinks li a:focus{
	color:#00AC9B;
}

.secondaryNavLinks li.active a.nav-fitness, .secondaryNavLinks li a.nav-fitness:focus, 
.secondaryNavLinks li a.nav-fitness:hover{
	background-position: 0px -150px;
}

.secondaryNavLinks li.active a.nav-nutrition, .secondaryNavLinks li a.nav-nutrition:hover,
.secondaryNavLinks li a.nav-nutrition:focus {
	background-position: 0px -180px;
}

.secondaryNavLinks li.active a.nav-health, .secondaryNavLinks li a.nav-health:hover,
.secondaryNavLinks li a.nav-health:focus{
	background-position: 0px -210px;
}

.secondaryNavLinks li.active a.nav-sleep, .secondaryNavLinks li a.nav-sleep:hover,
.secondaryNavLinks li a.nav-sleep:focus{
	background-position: 0px -240px;
}

.secondaryNavLinks li.active a.nav-insurance, .secondaryNavLinks li a.nav-insurance:hover,
.secondaryNavLinks li a.nav-insurance:focus{
	background-position: 0px -270px;
}

/*Sleep Profile*/
.details-header{
	color:#000000;
	background-color:#CCCCCC;
	font-size:11px !important;
	text-transform:uppercase;
	font-weight:bold;
	padding-top:5px !important; padding-bottom:5px !important;
	border-bottom:1px solid #999999;
}

.details-header a{
	display: block;
	cursor:pointer;
	color:#000000;
}

.details-table{
	background-color:#e9faf9 !important;
	border-bottom:1px solid #333333;
	position:absolute;
	top:-40000px;
}

.details-table .table{
	margin-bottom:0px;
}

.blue-table th{
	border-bottom: 1px solid #cccccc;
	color: #525252 !important;
	background-color:#e9faf9 !important;
}

.blue-table td{
	border:none !important;
	background-color:#e9faf9 !important;
}
