*, html, body, div, table, p, a{
	font-family:'Foco W01 Regular', 'Myriad Pro', 'Myriad', sans-serif;
}

#table-toolbar{
	margin-top:90px;
	margin-bottom:20px;
}

#table-toolbar #add-btn a{
	color:#00ac9b;
	text-transform:uppercase;
	font-weight:bold;
	background:url('../img/plus-sign.gif') 35px 1px no-repeat;
	padding-left:48px;
}

#table-toolbar p#powered-by{
	font-family:'Foco W01 Bold', 'Myriad Pro', 'Myriad', sans-serif;
	text-transform:uppercase;
	font-weight:bold;
	color:#000000;
	text-align:right;
	margin-bottom:0; padding-bottom:0;
}

#table-toolbar a#change-btn{
	font-family:'Foco W01 Bold', 'Myriad Pro', 'Myriad', sans-serif;
	color:#00ac9b;
	font-weight:bold;
	background:url('../img/triangle-arrow.gif') 50px 4px no-repeat;
	padding-right: 10px;
	margin-left:10px;
}

.profile-table thead tr th{
	font-family:'Foco W01 Bold', 'Myriad Pro', 'Myriad', sans-serif;
	text-transform:uppercase;
	background-color:#000000;
	color:#FFFFFF;
	font-size:13px;
	padding-top:2px;
	padding-bottom:0px;
}

.profile-table tr>:first-child {
	padding-left:35px;
}

.profile-table tr.active > td{
	font-weight:bold;
	color:#333333;
}

.profile-table td{
	border-top:none;
	font-size:16px;
	padding-top:20px;
	padding-bottom:20px;
}

.app-icon{
	width:39px;
	height:38px;
	margin-right:10px;
	display: inline-block;
}

#runkeeper-ico{
	background:url("../img/nutrition-apps-icons.png") 40px 0;
}

#fitbit-ico{
	background:url("../img/nutrition-apps-icons.png") 0 0;
}

#mapmyfitness-ico{
	background:url("../img/nutrition-apps-icons.png") 80px 0;
}

/*Nutrition*/

#date-row, #meal-count{
	font-family:'Foco W01 Bold', 'Myriad Pro', 'Myriad', sans-serif;
	color:#000000;
	font-weight:bold;	
	font-size:18px;
}

#date-row{
	background:url("../img/calendar.png") 0 0 no-repeat ;
	padding-left:30px;
}

#nutrition-info-row{
	background-color:#a7e3dd;
	padding:20px 0;
}

.hidden{
	position:absolute;
	left:-70000px;
}
